<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Serverraum Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="dashboard">

    <div class="header">
        <div>
            <h1>Serverraum Dashboard</h1>
            <p>횥berwachungs- und Verwaltungssystem</p>
        </div>

        <div class="header-status">
            <span>System aktiv</span>
        </div>
    </div>

    <div class="grid-container">

        <div class="card">
            <h2>Umweltwerte</h2>

            <div class="sensor-grid">

                <div class="sensor-box">
                    <h3>Temperatur</h3>
                    <p class="value" id="temperatur">-- 캜</p>
                    <span class="badge">OK</span>
                </div>

                <div class="sensor-box">
                    <h3>Luftfeuchtigkeit</h3>
                    <p class="value" id="luftfeuchtigkeit">-- %</p>
                    <span class="badge">OK</span>
                </div>

            </div>
        </div>

        <div class="card">

            <h2>L체ftersteuerung</h2>

            <p>
                <strong>Status:</strong>
                <span id="motor-status">--</span>
            </p>

            <p>
                <strong>Modus:</strong>
                Automatik
            </p>

            <p>
                <strong>Grund:</strong>
                <span id="motor-grund">--</span>
            </p>

            <p>
                <strong>Grenzwert:</strong>
                <span id="grenzwert">--캜</span> 
            </p>

        </div>

        <div class="card wide">

            <h2>Zutritt ; T체rstatus</h2>

            <p><strong>T체rstatus:</strong> Geschlossen</p>

            <p>
                <strong>Letzter RFID-Zugriff:</strong>
                Max Mustermann
            </p>

            <p>
                <strong>Zeitpunkt:</strong>
                14:37 Uhr
            </p>

        </div>

    </div>

</div>

<script>

async function ladeDaten() {

    try {

        const antwort =
            await fetch("/api/sensordaten/?t=" + Date.now());

        const daten = await antwort.json();

        document.getElementById("temperatur").innerText =
            daten.temperatur + " 째C";

        document.getElementById("luftfeuchtigkeit").innerText =
            daten.luftfeuchtigkeit + " %";

        document.getElementById("motor-status").innerText =
            daten.motor;

        document.getElementById("motor-grund").innerText =
            daten.motor_grund;

        document.getElementById("grenzwert").innerText =
            daten.grenzwert + " 째C";

    }

    catch (fehler) {

        console.log("Fehler beim Laden:", fehler);

    }

}

ladeDaten();

setInterval(ladeDaten, 3000);

</script>

</body>
</html>